body {
  width: 840px;
  margin: 40px auto;
}

table {
  table-layout: fixed;
}

table td {
  width: 50px;
  height: 50px;
}

table th {
  width: 120px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

.table tbody tr td:hover {
  background-color: #CCC;
}

.table tbody tr td.selected {
  background-color: rgba(0, 255, 0, 0.4);
}

.table tbody tr td.mouse {
  background-color: rgba(0, 0, 255, 0.4);
}

.table tbody tr td.clicked, .table tbody tr td.clicked:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

