.events {
  overflow: auto;
  max-height: 100px;
}

/* set large table size */
.kal .large-one .table {
  table-layout: fixed;
}

.kal .large-one .table td span {
  height: 50px;
}

.kal .large-one .table td, .kal .large-one .table th {
  text-align: right;
}

/* set small table size */
.kal .small-three {
  width: 290px;
  float: left;
  margin-right: 20px;
}

.kal#c2 {
  height: 350px;
}

.kal .small-three .table:last-child {
  margin-right: 0px;
}

.kal .small-three .table td, .kal .small-three .table th {
  text-align: right;
}

/* disable bootstrap row highlighting */
.kal .table tbody tr:hover td {
  background-color: transparent;
}

/* disable bootstrap lines between rows */
.kal .table thead tr th, .kal .table tbody tr td {
  border: none;
}

.kal .month-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* add rounded corners around dates */
.kal table tbody tr td span {
  display: block;
  width: 100%;
  padding: 3px;
  border-radius: 3px;
}

/* add a background to dates in the current month */
.kal table tbody tr td.date-current-month span {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* fade out dates not in the current month */
.kal .table tbody tr td.date-prev-month, .table tbody tr td.date-next-month {
  color: #ddd;
}

/* mark today red if unselected */
.kal .table tbody tr td.date-today span {
  background-color: #E24170;
}

/* make selected dates outside of the month light green */
.kal .table tbody tr td.date-selected span {
  background-color: #EBFDE8;
}

/* mark selected dates in the current month green */
.table tbody tr td.date-current-month.date-selected span {
  background-color: #B0F8A4;
}

/* mark dates in a range selection as light blue */
.kal .table tbody tr td.date-current-month.date-range span {
  background-color: #C4D4F0;
}

/* mark dates at the beginning of a selection dark blue */
.kal .table tbody tr td.date-current-month.date-range-start span {
  background-color: #7F9EE0;
}

/* mark dates as hovered dark blue */
.kal .table tbody tr td.date-current-month.date-hover span {
  background-color: #7F9EE0;
}
