body {
  width: 840px;
  margin: 40px auto;
}

table {
  table-layout: fixed;
}

table td {
  width: 50px;
  height: 50px;
}

table th {
  width: 120px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

.table tbody tr td.date-prev-month, .table tbody tr td.date-next-month {
  color: #ccc;
}

.table tbody tr td.date-selected {
  background-color: rgba(0, 255, 0, 0.1);
}

.table tbody tr td.date-current-month.date-selected {
  background-color: rgba(0, 255, 0, 0.4);
}

.table tbody tr td.date-range-start {
  background-color: rgba(0, 0, 255, 0.4);
}

.table tbody tr td.date-range {
  background-color: rgba(255, 0, 0, 0.1);
}

.table tbody tr td.date-current-month.date-range {
  background-color: rgba(255, 0, 0, 0.4);
}

.table tbody tr td.date-hover {
  background-color: #CCC;
}
